{% extends 'shopping/base.html' %}
{% block main-area %}

{% include 'shopping/header.html' %}

    <!-- Section-->
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-9 col-lg-10">
                <h1>
                    PUZZLE
                    {% if category %}
                    <span class="badge rounded-pill bg-secondary text-white">{{ category }}</span>
                    {% endif %}
                </h1>
            <!-- Post -->
<!--            <section class="py-5">-->
                <div class="container px-4 px-lg-5 mt-5">
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3z row-cols-xl-3 justify-content-center" id="main-area">
                        {% if post_list.exists %}
                        {% for p in post_list %}
                        <div class="col mb-5">
                            <div class="card h-100" id="post-{{p.pk}}">
                                <!-- Product image-->
                                {% if p.category %}
                                    <div class="badge rounded-pill bg-secondary text-white position-absolute" style="top: 0.5rem; right: 0.5rem">{{ p.category }}</div>
                                {% else %}
                                    <div class="badge rounded-pill bg-secondary text-white position-absolute" style="top: 0.5rem; right: 0.5rem">미분류</div>
                                {% endif %}
                                {% if p.head_image %}
                                    <img class="card-img-top" src="{{ p.head_image.url }}" alt="{{p}}의 head image" />
                                {% else %}
                                    <img class="card-img-top" src="https://picsum.photos/seed/{{p.id}}/450/300" alt="random image" />
                                {% endif %}
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h4 class="fw-bolder">{{ p.title | upper }}</h4>
                                        {% if p.hook_text %}
                                            <h6 class="text-muted">[{{ p.hook_text }}]</h6>
                                        {% endif %}
                                        <!-- Product price-->
                                        <p>{{ p.price }} &#65510;</p>
                                        <!-- Product 설명-->
                                        <p>{{ p.content | truncatewords:45}}</p>
                                    </div>
                                </div>
                                <!-- Product actions-->
                                {% if p.make %}
                                    <div class="badge bg-light text-dark">{{ p.make }}</div>
                                {% else %}
                                    <div class="badge bg-light text-dark">미상</div>
                                {% endif %}
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ p.get_absolute_url }}">View options</a></div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                            <h4>아직 게시물이 없습니다.</h4>
                        {% endif %}
                    </div>
                </div>
<!--             </section>-->

        </div>

            <div class="col-md-3 col-lg-2">
            <!-- Categories widget-->
            <div class="container mt-5 text-center" id="categories-card">
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                    <div class="card-body">
                        <div class="row">
                            <ul class="list-unstyled mb-0">
                                {% for c in categories %}
                                <li><a href="{{c.get_absolute_url}}">&#9626;&nbsp;{{c}} ({{c.post_set.count}})</a></li>
                                {% endfor %}
                                <li><a href="http://127.0.0.1:8000/shopping/category/no_category/">&#9626;&nbsp;미분류 ({{no_category_post_count}})</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
    </div>



        <!-- Pagination-->
        <ul class="pagination justify-content-center my-4">
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">&larr; Newer</a></li>
            <li class="page-item"><a class="page-link" href="#!">Older &rarr;</a></li>
        </ul>
{% endblock %}